body {
    /*background-color: #a16d5d;
*/
}

header {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 1fr;
    background-image: url(../images/950242_l.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container_title {
    display: grid;
    /* グリッドレイアウト */
    grid-template-rows: 30px;
    grid-template-columns: 200px;
}

#container_menu {
    display: grid;
    /* グリッドレイアウト */
    grid-template-rows: 100px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: space-evenly;
}
