html{
    height: 100%;
}

body {
    background-color: #a86f4c;
    height: 100%;
}

#top {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 1fr;
    background-image: url(/images/950242_l.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
}

.title {
    width: 120px;
    border-bottom: 2px solid red;
}

.top_field {
    margin: 10px 10px;
    padding: 1rem 2rem;
    background: #aacf53;
    -webkit-box-shadow: 5px 5px 0 #928c36;
    box-shadow: 5px 5px 0 #928c36;
    transform: skew(-15deg);
    width: 300px;
    color: #fff;
    /*font-family: "Noto Sans JP";*/
    letter-spacing: 1px;
}

#container_title {
    display: grid;
    /* グリッドレイアウト */
    grid-template-rows: 30px;
    grid-template-columns: 200px;
}

#container_menu {
    margin: 20px 0;
    display: grid;
    /* グリッドレイアウト */
    grid-template-rows: 200px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: space-evenly;
}

.box {
    text-align: center;
    padding: 3px;
    font-weight: bold;
    color: #FFF;
    /*文字色*/
    background: #8d6449;
    border: solid 3px #FFF;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
    position: relative;
}

.box a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}