body {
    background-color: #a86f4c;
}

#container {
    display: grid;
    /* グリッドレイアウト */
    grid-template-rows: 50px 200px 200px 100px;
    grid-template-columns: 10px 1fr 10px;
    /*
    justify-content: space-between;
     align-content: space-between;
    */
    grid-row-gap: 10px;
    grid-column-gap: 30px;
}

.center_1 {
    grid-column: 2/3;
    grid-row: 2/4;
}
.center_2 {
    grid-column: 2/3;
    grid-row: 3/4;
}
header {
    grid-column: 2/3;
    grid-row: 1/4;
}
footer {
    grid-column: 2/3;
    grid-row: 4/4;
}

.box {
    font-weight: bold;
    color:#FFF ;/*文字色*/
    background: #8d6449;
    border: solid 3px #FFF;/*線*/
    border-radius: 10px;/*角の丸み*/
    position: relative;
}