body {
    background-color: #a86f4c;
}

#container {
    display: grid;
    /* グリッドレイアウト */
    grid-template-rows: 200px 200px;
    grid-template-columns: 10px 1fr 10px;
     grid-row-gap: 10px;
    grid-column-gap: 30px;
}

.center {
    grid-column: 2/3;
}

.box {
    font-weight: bold;
    color:#FFF ;/*文字色*/
    background: #8d6449;
    border: solid 3px #FFF;/*線*/
    border-radius: 10px;/*角の丸み*/
    position: relative;
}