<footer style="margin: 0; padding: 0">
  <div style="background-color: #5C4138; color: white; height: 20px; padding: 10px; margin: 0">
    <div style="text-align: center;">©たまごプロ</div>
  </div>
</footer>