<link rel='stylesheet' href='/stylesheets/header.css' />
<div style="display: flex">
  <div style="flex: 1 0 30%;">
    <a href="/home">
      <span class="decoration">cookhack</span>
    </a>
  </div>
  <div style="flex: 1 0 30%;"></div>
  <div style="flex: 1 0 30%;">
    <form action="/search" method="post">
      <input type="text" name="searchword">
      <input type="submit" value="??">
    </form>
  </div>
</div>

