<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
</head>

<body>
    <header>
        <h1>
            CookHack
        </h1>
    </header>
    <div id="container_title">
        <div id="title">
            あなたにおすすめ！
        </div>
    </div>
    <div id="container_menu">
        <div>
            a
        </div>
        <div>
            b
        </div>
        <div id="menu">
            c
        </div>
        <div>
            Look More Information
        </div>
    </div>
    <footer>
        フッターだよ！
    </footer>

</body>

</html>
