<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
</head>

<body>
    <header>
        <!-- partial -->
        <%- include('header.ejs') %>
    </header>

    <div id="top">
        <h1 class="title">
            CookHack
        </h1>
    </div>
    <div id="titlebox">
        <h2 class="recommend">
            あなたにおすすめ！
        </h2>
    </div>

    </div>
    <div id="container_menu">
        <div class="box">
            レシピ名だよ！
            <ul>
                <li>
                    炭水化物:
                </li>
                <li>
                    脂質:
                </li>
                <li>
                    タンパク質:
                </li>
            </ul>
            <a href="https://www.google.co.jp"></a>
        </div>
        <div class="box">
            b
            <a href="https://www.google.co.jp"></a>
        </div>
        <div class="box">
            c
            <a href="https://www.google.co.jp"></a>
        </div>
        <div class="box">
            Look More Information
            <a href="https://www.google.co.jp"></a>
        </div>
    </div>
    <footer>
        フッターだよ！
    </footer>

</body>

</html>