<!DOCTYPE html>
<html>
    <head>
        <title>Init</title>
    </head>
    <body>
        テーブルの作成
        <form action="/init_table" method="POST">
            <input type="submit">
        </form>
        テーブル内に値書き込み
        <form action="/init_data" method="POST">
            <input type="submit">
        </form>
    </body>
</html>