<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <form action="/join" method="POST">
            email:
            <input type="email" name="email">
            Username:
            <input type="text" name="username">
            Password:
            <input type="password" name="password">
            <input type="submit">
        </form>
    </body>
</html>