<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/reset.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% if (messages.danger) { %>
            <span style="color: #f32013"><%- messages.danger %></span>
        <% } %>
        <% if (messages.warning) { %>
            <span style="color: #ffcc00"><%- messages.warning %></span>
        <% } %>
        <% if (messages.success) { %>
            <span style="color: #4bb543"><%- messages.success %></span>
        <% } %>
        <form action="/join" method="POST">
            email:
            <input type="email" name="email">
            Username:
            <input type="text" name="username">
            Password:
            <input type="password" name="password">
            <input type="submit">
        </form>
    </body>
</html>