<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<body>
    <% if (messages.danger) { %>
    <span style="color: #f32013"><%- messages.danger %></span>
    <% } %>
    <% if (messages.warning) { %>
    <span style="color: #ffcc00"><%- messages.warning %></span>
    <% } %>
    <% if (messages.success) { %>
    <span style="color: #4bb543"><%- messages.success %></span>
    <% } %>

    <div class="login">
        <h1>Login to CookHack</h1>
        <form method="POST" action="/login">
            <p><input type="email" name="email" value="" placeholder="Email"></p>
            <p><input type="text" name="username" value="" placeholder="Username"></p>
            <p><input type="password" name="password" value="" placeholder="Password"></p>
            <p class="submit"><input type="submit" name="commit" value="Login"></p>
        </form>
    </div>

</body>

</html>