<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="/login" method="POST">
            Email:
            <input type="text" name="email">
            Password:
            <input type="password" name="password">
            <input type="submit">
        </form>
    </body>
</html>