<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>search</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <!-- partial -->
      <%- include('header.ejs') %>
    </header>
    <main>
      <div class="titlearea">
        <h3>検索文字列:
        <%= search.values[0] %></h3>
      </div>
      <div class="index-table-wrapper">
        <ul class="table-body" style="list-style: none">
        <% recipes.forEach((recipe) => { %>
          <li>
            <table>
              <td style="width: 100px">
                <%= recipe.name %>
              </td>
              <td>
                <%= recipe.description %>
              </td>
            </table>
          </li>
          <% }) %>
        </ul>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
